@charset "utf-8";

html {
 font-size: 1px;
}

.test-box {
  border: 1px solid red;
  height: 20rem;
  width: 20rem;
  font-size: 20rem;
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #777;
  box-sizing: border-box;
}
button {
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #777;
  cursor: pointer;
}
#wrap {
  padding: 20px;
}
.btn.clear {
  display: block;

  background-color: #777;
  color: #fff;
}
.flex {
  display: flex;
  align-items: center;
  gap: 0 5px;
  min-height: 26px;
}
.flex + .flex {
  margin-top: 10px;
}
.view-wrap {
  position: relative;
  border-radius: 5px;
  border: 1px solid rgb(210, 210, 210);
  height: 100px;
  margin-bottom: 10px;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px; */
  /* overflow: hidden; */
}
.view-wrap > div {
  width: 50%;
  position: relative;
  padding: 20px;
}
.view-wrap .hp,
.view-wrap .st {
  color: #a5a5a5;
  font-size: 11px;
  margin-bottom: 10px;
  display: block;
  letter-spacing: -1px;
}
.view-wrap .hp {
  font-size: 16px;
  font-weight: bold;
}
.view-wrap.turn_user .user,
.view-wrap.turn_mob .mob {
  background-color: rgb(235, 235, 235);
}
.view-wrap .dmg-box {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ff0000;
}
.view-wrap.turn_user .dmg-box {
  left: 50%;
}
.view-wrap.turn_mob .dmg-box {
  left: 0;
}
.damage {
  font-size: 24px;
  color: #ff0000;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  transition: all ease 0.5s;
  white-space: nowrap;
}
.miss {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(100%, -100%);
  z-index: 1;
  opacity: 0;
  transition: all ease 0.5s;
  white-space: nowrap;
}
.counter {
  font-size: 24px;
  color: #ff0000;
  font-weight: bold;
  position: absolute;
  top: 20%;
  /* left: 100%; */
  transform: translate(0, 0);
  z-index: 1;
  opacity: 0;
  transition: all ease 0.5s;
  white-space: nowrap;
}
.view-wrap.turn_user .counter {
  left: -50%;
}
.view-wrap.turn_mob .counter {
  left: 120%;
}
@keyframes dmgani {
  0% {
    top: 20%;
    opacity: 0;
  }
  50% {
    top: 10%;
    opacity: 1;
  }
  100% {
    top: 0%;
    opacity: 0;
  }
}
@keyframes dmgani_2 {
  0% {
    top: 20%;
    opacity: 0;
  }
  50% {
    top: 10%;
    opacity: 1;
  }
  100% {
    top: 0%;
    opacity: 0;
  }
}

/* .view-wrap.turn_user .damage.counter {
  left:-100%;
}
.view-wrap.turn_mob .damage.counter {
  left: 200%;
} */

.view-wrap.turn_user .damage.active,
.view-wrap.turn_user .miss.active,
.view-wrap.turn_user .counter.active {
  animation: dmgani 0.5s linear;
}

.view-wrap.turn_mob .damage.active,
.view-wrap.turn_mob .miss.active,
.view-wrap.turn_mob .counter.active {
  animation: dmgani_2 0.5s linear;
}




.hita,
.hitb,
.hit {
  display: none;
}
.hita.active,
.hitb.active,
.hit.active {
  display: block;
}
.btn-test {
  display: none;
}
.log-wrap {
  margin-bottom: 20px;
  border: 1px solid rgb(210, 210, 210);
  height: 100px;
  position: relative;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}
.log {
  display: flex;
  /* flex-direction: column-reverse; */
  flex-direction: column;
}
.log p {
  font-size: 11px;
  color: rgb(180, 180, 180);
  display: flex;
  align-items: center;
  margin: 5px;
}
.log p::before {
  content: "-";
  margin-right: 5px;
}

.layer {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
}
.layer .status {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  border: 2px solid rgb(90, 90, 90);
  padding: 20px;
  transform: translate(-50%, -50%);
  min-width: 200px;
  min-height: 100px;
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.1) 0px 5px 5px 5px;
}
.layer .status span {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 5px 0;
  
}
.layer .status .st-name {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #777;
}
.layer.active {
  display: block;
}

.space {
  position: relative;
  margin-top: 20px;
  width: 300px;
  height: 100px;
  border: 1px solid #000;
}
.space .player {
  width: 10px;
  height: 10px;
  display: block;
  background-color: #ff0000;
  position: absolute;
  top: 0;
  left: 0;
}